.container {
  display: flex;
  justify-content: center;
  background-color: #f3fafd;
  height: 100vh;
  .register_area {
    margin-top: 10%;
    .register_btn {
      width: 100%;
    }
    .tips {
      display: flex;
      justify-content: center;
    }
  }
}